:root {
  /* BODY TOKENS */
  --body-bg-color: inherit;
  --body-fg-color: inherit;
  --body-font-family: inherit;
  --body-font-size: inherit;
  --body-font-weight: inherit;
  --body-line-height: inherit;

  /* BORDER TOKENS */
  --default-border-size: 1px;
  --default-border-color: black;
  --default-border-style: solid;
  --default-border: var(--default-border-size) var(--default-border-color) var(--default-border-style);

  /* BUTTON TOKENS */
  --button-bg-color: inherit;
  --button-border-color: inherit;
  --button-border-size: inherit;
  --button-border-style: inherit;
  --button-border-radius: inherit;
  --button-fg-color: inherit;
  --button-font-size: inherit;
  --button-font-weight: inherit;
  --button-padding-x: inherit;
  --button-padding-y: inherit;
  --button-shadow: inherit;

  --button-active-bg-color: inherit;
  --button-active-border-color: inherit;
  --button-active-fg-color: inherit;
  --button-active-shadow: inherit;

  --button-disabled-bg-color: inherit;
  --button-disabled-border-color: inherit;
  --button-disabled-fg-color: inherit;
  --button-disabled-shadow: inherit;

  --button-focus-bg-color: inherit;
  --button-focus-border-color: inherit;
  --button-focus-fg-color: inherit;
  --button-focus-shadow: inherit;

  --button-hover-bg-color: inherit;
  --button-hover-border-color: inherit;
  --button-hover-fg-color: inherit;
  --button-hover-shadow: inherit;

  /* FORM TOKENS */
  --form-border-color: inherit;
  --form-border-size: inherit;
  --form-border-style: inherit;
  --form-border-radius: inherit;
  --form-bg-color: inherit;
  --form-content-gap: inherit;
  --form-padding-x: inherit;
  --form-padding-y: inherit;

  /* FORM CONTROL TOKENS */
  --form-control-bg-color: inherit;
  --form-control-border-color: var(--default-border-color);
  --form-control-border-radius: inherit;
  --form-control-border-size: var(--default-border-size);
  --form-control-border-style: var(--default-border-style);
  --form-control-fg-color: inherit;
  --form-control-font-size: inherit;
  --form-control-icon-gap: inherit;
  --form-control-input-height: inherit;
  --form-control-placeholder-color: inherit;
  --form-control-padding-x: inherit;
  --form-control-padding-y: inherit;
  --form-control-shadow: inherit;

  --form-control-disabled-bg-color: inherit;
  --form-control-disabled-border-color: inherit;
  --form-control-disabled-fg-color: inherit;
  --form-control-disabled-opacity: inherit;
  --form-control-disabled-placeholder-color: inherit;
  --form-control-disabled-shadow: inherit;

  --form-control-invalid-bg-color: inherit;
  --form-control-invalid-border-color: inherit;
  --form-control-invalid-fg-color: inherit;
  --form-control-invalid-placeholder-color: inherit;
  --form-control-invalid-message-fg-color: inherit;
  --form-control-invalid-shadow: inherit;
  --form-control-invalid-message-font-size: inherit;

  --form-control-focus-bg-color: inherit;
  --form-control-focus-border-color: inherit;
  --form-control-focus-fg-color: inherit;
  --form-control-focus-shadow: inherit;

  --form-control-hover-bg-color: inherit;
  --form-control-hover-border-color: inherit;
  --form-control-hover-fg-color: inherit;
  --form-control-hover-shadow: inherit;

  --form-control-help-text-fg-color: inherit;
  --form-control-help-text-font-size: inherit;
  --form-control-help-text-font-weight: inherit;
  --form-control-help-text-gap: inherit;

  --form-control-label-fg-color: inherit;
  --form-control-label-font-size: inherit;
  --form-control-label-font-weight: inherit;
  --form-control-label-gap: inherit;
  --form-control-label-required-indicator-gap: inherit;

  /* HEADING TOKENS */
  --heading-fg-color: inherit;
  --heading-font-family: inherit;
  --heading-font-weight: inherit;
  --heading-line-height: inherit;

  /* LINK TOKENS */
  --link-fg-color: inherit;
  --link-decoration: inherit;

  --link-active-fg-color: inherit;
  --link-active-decoration: underline;

  --link-hover-fg-color: inherit;
  --link-hover-decoration: underline;

  --link-focus-fg-color: inherit;
  --link-focus-decoration: inherit;

  --link-visited-fg-color: inherit;
  --link-visited-decoration: inherit;

  /* OUTLINE TOKENS */
  --focus-outline-color: #00a8d6;
  --focus-outline-offset: 2px;
  --focus-outline-size: 1px;
  --focus-outline-style: solid;
  --focus-outline: var(--focus-outline-size) var(--focus-outline-color) var(--focus-outline-style);
  --menu-item-focus-outline-color: var(--focus-outline-color);
  --menu-item-focus-outline-offset: var(--focus-outline-offset);
}
