@media (max-width: 880px) {
  [data-mobile-menu-expanded] .sidebar-content li {
    visibility: visible !important;
  }
}

@media (min-width: 800px) {
  .sidebar-content li {
    visibility: visible !important;
  }
}

.sl-markdown-content code-bubble * {
  margin-top: unset !important;
}

/* Code bubble theming */
code-bubble {
  --code-bubble-bg-color: var(--body-bg-color);
  --code-bubble-border-color: var(--color-neutral-700);
  --code-bubble-preview-bg-color: var(--body-bg-color);
  --code-bubble-button-bg-color: var(--button-bg-color);
  --code-bubble-button-fg-color: var(--button-fg-color);
  --code-bubble-button-border-color: var(--color-neutral-700);
  --code-bubble-button-hover-bg-color: var(--button-hover-bg-color);
  --code-bubble-button-hover-fg-color: var(--button-hover-fg-color);
  --code-bubble-button-hover-border-color: var(--color-neutral-600);
  --code-bubble-copy-button-bg-color: var(--button-bg-color);
  --code-bubble-copy-button-fg-color: var(--button-fg-color);
  --code-bubble-copy-button-border-color: var(--color-neutral-700);
  --code-bubble-copy-button-hover-bg-color: var(--button-hover-bg-color);
  --code-bubble-copy-button-hover-fg-color: var(--button-hover-fg-color);
  --code-bubble-copy-button-hover-border-color: var(--color-neutral-600);
}

[data-theme='dark'] code-bubble {
  --code-bubble-bg-color: var(--body-bg-color);
  --code-bubble-border-color: var(--color-neutral-600);
  --code-bubble-preview-bg-color: var(--body-bg-color);
  --code-bubble-button-bg-color: var(--button-bg-color);
  --code-bubble-button-fg-color: var(--button-fg-color);
  --code-bubble-button-border-color: var(--color-neutral-600);
  --code-bubble-button-hover-bg-color: var(--button-hover-bg-color);
  --code-bubble-button-hover-fg-color: var(--button-hover-fg-color);
  --code-bubble-button-hover-border-color: var(--color-neutral-500);
  --code-bubble-copy-button-bg-color: var(--button-bg-color);
  --code-bubble-copy-button-fg-color: var(--button-fg-color);
  --code-bubble-copy-button-border-color: var(--color-neutral-600);
  --code-bubble-copy-button-hover-bg-color: var(--button-hover-bg-color);
  --code-bubble-copy-button-hover-fg-color: var(--button-hover-fg-color);
  --code-bubble-copy-button-hover-border-color: var(--color-neutral-500);
}

a.site-title:visited {
  color: var(--site-title-fg-color) !important;
  font-size: 1.5rem;
  font-weight: 600;
}

.site-title:hover {
  text-decoration: none;
}
/* Search button default state */
button[data-open-modal][aria-label='Search'] {
  background-color: var(--search-bg-color) !important;
  color: var(--search-fg-color) !important;
  border: 1px solid var(--search-border-color) !important;
}

/* Search button hover state */
button[data-open-modal][aria-label='Search']:hover {
  background-color: var(--search-bg-color) !important;
  color: var(--search-fg-color) !important;
  border: 1px solid var(--search-border-color) !important;
  transform: none;
  opacity: 1;
}
/* Add transparent border to default state to prevent size change on hover */
starlight-theme-select {
  border: 1px solid transparent !important;
  border-radius: 0.375rem !important;
}
starlight-theme-select:hover {
  background-color: var(--button-bg-color) !important;
  color: var(--button-fg-color) !important;
  border: 1px solid var(--color-neutral-700) !important;
  border-radius: 0.375rem !important;
  transform: none;
  opacity: 1;
}
/* Position icon away from left edge */
starlight-theme-select .label-icon {
  left: 0.5rem;
}
/* Position caret away from right edge */
starlight-theme-select .caret {
  right: 0.5rem;
}
/* Add spacing in theme select between icon and text */
starlight-theme-select select {
  padding-left: 1.7rem;
}

.sl-link-button.primary {
  background-color: var(--button-accent-bg-color);
  color: var(--button-accent-fg-color);
}
.sl-link-button.primary:hover {
  background-color: var(--button-accent-hover-bg-color);
  text-decoration: none;
}
[data-theme='light'] {
  /* mapping starlight variables to charm variables for docs */
  --sl-color-bg-nav: var(--nav-bg-color);
  --sl-card-bg: var(--body-bg-color);

  .astro-52wgxlot a[aria-current='page'] {
    color: var(--color-primary-500);
    font-weight: 600;
    background-color: var(--color-primary-100); /* optional: add background color to highlight the active link */
  }
  .astro-52wgxlot a:hover {
    color: var(--color-primary-500); /* or whatever color you want */
    font-weight: 500;
    background-color: var(--color-primary-50);
    text-decoration: none; /* optional: remove underline on hover */
  }
  .social-icons::after {
    border-inline-end: 1px solid var(--color-neutral-400) !important; /* Change line color */
  }
}
[data-theme='dark'] {
  .social-icons::after {
    border-inline-end: 1px solid var(--color-neutral-700) !important; /* Change line color */
  }
  /* mapping starlight variables to charm variables for docs */
  --sl-color-bg-nav: var(--nav-bg-color);
  --sl-card-bg: var(--card-bg-color);
  .card {
    background-color: var(--card-bg-color);
    border: 1px solid var(--card-border-color);
  }
  .astro-52wgxlot a[aria-current='page'] {
    color: var(--color-primary-500); /* or whatever color you want */
    font-weight: 600;
    background-color: var(--color-primary-100); /* optional: add background color to highlight the active link */
  }

  .astro-52wgxlot a {
    color: var(--color-primary-100); /* or whatever color you want */
  }
  .astro-52wgxlot a[aria-current='page'] {
    color: var(--color-primary-500); /* or whatever color you want */
    font-weight: 600;
    background-color: var(--color-primary-100); /* optional: add background color to highlight the active link */
  }
  .astro-52wgxlot a:hover {
    color: var(--color-primary-500); /* or whatever color you want */
    font-weight: 500;
    background-color: var(--color-primary-50);
    text-decoration: none; /* optional: remove underline on hover */
  }
}
